<section id="work">
<header style="background-color: #314268;">
  <nav class="effect nav-collapse">
      <ul id="menu">
          <li><%= link_to "Home", root_path %></li>
          <li><a class="effect work" href="#work">Contact</a></li>
      </ul>
  </nav>
</header>

<h2 class="show"><%= @admin.username %></h2>

<p>
  <strong>Username:</strong>
  <%= @admin.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @admin.password %>
</p>

<p>
  <strong>Password confirmation:</strong>
  <%= @admin.password_confirmation %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
