 <%= content_for(:title, "TrueTech | Webdesign Mechelen - Landings-pagina")  %>
  <% content_for :description, "Landings-pagina | Webdesign Mechelen" %>
  <% content_for :head do %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' %>
<% end %>

<!--  HEAD SECTION  -->
        <header style="background-color: #314268;">
            <nav class="services effect nav-collapse">
                <ul id="menu">
                    <li><%= link_to (t "show.home"), root_path %></li>
                    <li><%= link_to (t "home.nav.about"), about_path, :class => "about" %></li>
                    <li><a class="effect contact" href="#contact"><%= t "home.nav.contact" %></a></li>
                </ul>
            </nav>
        </header>

<section class="what landing ">
    <div class="container">
        <div class="row">
            <h2 class="leftfade text-center"><%= t "services.title1" %></h2>
             <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
             <img alt="TrueTech | Webdesign Mechelen - Website Op Maat" src="<%= asset_path('landing.png') %>" class="rightfade img-responsive pull-right center-block">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h3 class="leftfade"><%= t "services.subtitle1" %></h3>
            <p class="leftfade"><%= t "services.landing.p1_html" %></p>
            <p class="leftfade"> <%= t "services.landing.p2_html" %></p>
            <p class="leftfade"><%= t "services.landing.p3_html" %></p>
            <p class="leftfade"><%= t "services.specific_html" %></p>
            </div>
        </div>
    </div>
</section>

<section class="how landing process-v1 bg-color-light">
            <div class="container content-sm">
                <div class="headline-center margin-bottom-60">
                    <h2 class="leftfade"><%= t "services.subtitle2" %></h2>
                    <p class="rightfade how howdisplay"><%= t "services.how_html" %></p>
                </div>
                <ul class="fadein list-inline row process-in process-border">
                    <li class="col-sm-3 sm-margin-bottom-50">
                        <div class="process-icon">
                        <a class="hvr-ripple-out" href="#">
                            <i class="rounded-x dot-active"></i>
                            </a>
                        </div>
                        <div class="process-desc">
                            <h3><%= t "services.meett" %></h3>
                            <p><%= t "services.meetd" %></p>
                        </div>
                    </li>
                    <li class="col-sm-3 sm-margin-bottom-50">
                        <div class="process-icon">
                        <a class="hvr-ripple-out" href="#">
                            <i class="rounded-x dot-active"></i>
                            </a>
                        </div>
                        <div class="process-desc">
                            <h3>Design</h3>
                            <p><%= t "services.designd" %></p>
                        </div>
                    </li>
                    <li class="col-sm-3 sm-margin-bottom-50">
                        <div class="process-icon">
                        <a class="hvr-ripple-out" href="#">
                            <i class="rounded-x dot-active"></i>
                            </a>
                        </div>
                        <div class="process-desc">
                            <h3>Coding</h3>
                            <p><%= t "services.codingd" %></p>
                        </div>
                    </li>
                    <li class="col-sm-3">
                        <div class="process-icon">
                        <a class="hvr-ripple-out" href="#">
                            <i class="rounded-x dot-active"></i>
                        </a>
                        </div>
                        <div class="process-desc">
                            <h3><%= t "services.launcht" %></h3>
                            <p><%= t "services.launchd" %></p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

